.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# The project-local cache stays machine-local. To use zero-installs instead,
# unignore and commit `.yarn/cache` together with the generated PnP runtime.
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

.pnp.*
.out
declarations
esm
cjs
css
coverage
.tmp
dist
.cache
trivy.report.txt

.turbo
**/.wake/


.nx/polygraph
